language: android
dist: trusty
android:
  components:
    # - platform-tools
    # - tools
    - build-tools-28.0.3
    - android-27
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository

script: ./gradlew build assembleDebug
